/** CSS CUSTOMIZATION **/

.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 30%;
    z-index: 1;
    left: 48%;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #009688;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  
  .color-grey {
      background-color: #263238;
  }
  
  .color-grey.active, .color-grey:hover, .color-grey:focus {
      background-color: #000 !important;
  }
  
  ul li .margined-top {
      margin-top: 20px !important;
  }
  
  .btn {
  padding-left: 20px;
  padding-right: 20px;
  }
  
  .navbar-logo-wrapper img{
      margin-left: 24px;
      margin-top: 7px;
  }
  
  .navbar .nav > li > a.dropdown-toggle {
      margin-left: 4px;
  }
  
  .navbar-right, .navbar-nav.navbar-right:last-child {
      margin-right: 9px;
  }
  
  .main-title {
      font-size: 17px;
      font-weight: 700;
      display: block;
  }
  
  .main-subtitle{
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      opacity: .8;
      display: block;
  }
  
  .sidebar-menu > li > a > span:nth-child(1) {
      float: left;
      top: 0;
      line-height: 48px;
      width: 52px;
      font-size: 18px;
      text-align: center;
      padding-left: 16px;
      padding-right: 0px;
  }
  
  .sidebar-left-content {
      background-color: #182226;
      -webkit-box-shadow: 0px 0px 0 0 #182226 inset;
      box-shadow: 0px 0px 0 0 #182226 inset;
      height: 100%;
  }
  .sidebar-left-content, .navbar.bg-dark, .bg-dark{
      background-color: #263238 !important;
  }
  
  .sidebar-widget {
      position: relative;
      margin: 24px 12px 32px 24px;
  }
  
  .sidebar-widget .media-body{
      padding-left: 5px !important;
      padding-top: 5px;
  }
  
  .sidebar-widget .media-author{
      font-size: 15px;
      font-weight: 400;
      text-transform: capitalize !important;
      color: #ffffff;
  }
  
  .sidebar-widget .media-links{
      font-size: 13px;
      font-weight: 400;
      color: #90A4AE;
      line-height: 20px;
  }
  
  .sidebar-menu li a {
      font-size: 15px;
      font-weight: 400;
      padding-left: 6px;
      color: #90A4AE;
  }
  
  .sidebar-menu > li > a {
      padding: 0;
      line-height: 48px;
      height: 48px;
      overflow: hidden;
  }
  
  .sidebar-menu li a span:nth-child(2) {
      text-transform: capitalize;
  }
  
  .sidebar-menu li:active, .sidebar-menu li:hover {
      color: #ffffff;
      background-color: #182226;
  }
  
  .sidebar-menu li ul {
      background-color: #0F191C;
  }
  .sidebar-menu li ul li a {
      padding: 0 0 0 64px !important;
      line-height: 40px;
  }
  
  .media-center {
      margin: auto;
      text-align: center;
    }
  
    .icon-title{
      display: block;
      text-align: center;
      text-transform: uppercase;
      color: #263238;
    }
  
  ul li .right-element {
      float: right;
      top: 0;
      line-height: 48px;
      width: 52px;
      font-size: 14px;
      text-align: center;
      padding-right: 0px;
      opacity: 0.3;
  }
  
  ul li .right-element:active {
      transform: rotate(180deg);
  }
  
  #topbar.alt {
      padding: 17px 24px;
      line-height: 39px;
  }
  
  #topbar.alt .breadcrumb {
      padding-top: 0px;
  }
  
  #content.table-layout > div, #content.table-layout > section {
      vertical-align: top;
      padding: 30px 20px 50px;
  }
  
  #content-footer {
      color: #f4f7f9;
      font-size: 15px;
      overflow: hidden;
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      height: 55px;
      line-height: 55px;
      padding: 0;
      background-color: #182226;
      -webkit-transition: margin 0.2s ease;
      transition: margin 0.2s ease;
  }
  
  #content-footer .footer-return-top {
      top: 10px;
      right: 24px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background-color: #009688;
  }
  
  .footer-legal {
      margin-right: 60px;
      color: #90A4AE;
  }
  
  .footer-legal a{
      color: #ffffff;
      opacity: .6;
      padding-right: 10px;
  }
  
  .section button.btn{
      padding: 6px 25px !important;
  }
  
  .clip-circle {
    clip-path: circle(40px at top);
  }
  
  .section .field{
      font-weight: bold !important;
  }
  
  i.topbar-item-fa {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0px 0px 2px #888;
      padding: 0.5em 0.6em;
      background-color: #4f595e;
      color: #fff;
  }
  
  .breadcrumb-current-item{
      color: #009688 !important;
  }
  
  #content-footer.affix{
      z-index: 1041; /*2*/
      position: fixed !important; /*inherit fixed*/
      /*margin-left: 0 !important;*/
      margin-bottom: 0;
  }
  
  .container .panel{
      /*min-height: 600px !important;*/
  }
  
  .section .field-label{
      font-weight: bold !important;
      color: #263238;
  }
  
  #form-ui .section .text-system{
      border: none;
  }
  
  #form-ui .section .text-view, h4.text-view{
      color: #92989b;
  }
  
  .ui-datepicker-calendar > thead th {
      color: #9b9ead;
      font: 700 12px/30px 'Lato';
      padding-top: 10px;
      text-transform: uppercase;
  }
  
  .ui-datepicker {
      padding: 20px 5px 5px;
  }
  
  .bg-dark .dropdown-menu{
      background-color: #F4F7F9;
      border: 1px solid #F4F7F9;
      box-shadow: 0 3px 4px 1px #00000033;
  }
  
  .bg-dark .list-group-item{
      background-color: #F4F7F9;
  }
  
  .bg-dark .dropdown-menu > li > a{
      font-weight: 700;
      color: #263238;
  }
  
  .navbar.bg-dark .nav > li.open > a, .navbar.bg-dark .nav > li:hover > a, .navbar.bg-dark .nav > li:focus > a,
  .navbar.bg-dark .nav > li.active > a, .navbar.bg-dark .nav > li > a:hover, .navbar.bg-dark .nav > li > a:focus {
      background-color: #182226;
  }
  
  .bg-dark .dropdown-menu > li > a:hover,
  .bg-dark .dropdown-menu > li > a:focus {
      color: #000;
      background-color: #e3e7e9;
  }
  
  .bg-message{ background-color: #555a70 !important; }
  .bg-article{ background-color: #009688 !important; }
  .bg-online-course{ background-color: #555a70 !important; }
  .bg-presencial-course{ background-color: #555a70 !important; }
  .bg-tips{ background-color: #ccd82e !important; }
  .bg-happy-hour{ background-color: #555a70 !important; }
  .bg-restaurant{ background-color: #ccd82e !important; }
  
  .card {
      box-shadow: 0 4px 8px 0 #00000033;
      transition: 0.3s;
      border-radius: 2px; /* 5px rounded corners */
  }
  
  .publication-container .card img {
      border-radius: 2px 2px 0 0;
      width:100%;
      min-height:150px;
      max-height:150px;
  }
  
  .publication-container .card .text-title-post{
      height: 52px;
  }
  
  .collaborator-container .card img {
      border-radius: 2px 2px 0 0;
      width:100%;
      min-height:200px;
      max-height:200px;
  }
  
  .collaborator-container .card .text-title-post{
      height: 52px;
  }
  
  .home-publication-container .card img {
      border-radius: 2px 2px 0 0;
      width:100%;
      min-height:300px;
      max-height:300px;
  }
  
  .home-publication-container .card .text-title-post{
      height: 52px;
  }
  
  .home-elements {
      padding: 0px 12px !important;
  }
  
  .limit-text {
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     line-height: 16px;     /* fallback */
     max-height: 32px;      /* fallback */
     -webkit-line-clamp: 2; /* number of lines to show */
     -webkit-box-orient: vertical;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus{
      background-color: #009688;
      border-color: #009688;
  }
  
  .pagination > li > a,
  .pagination > li > span{
      color: #009688;
  }
  
  .text-social-custom {
      color: #009688;
  }
  
  .text-info-custom {
      color: #009688;
      font-weight: bold;
      font-size: 11px;
  }
  
  .text-muted-custom {
      color: #626262;
      font-size: 11px;
      font-weight: 400;
  }
  
  .btn-dark-search {
      color: #ffffff;
      background-color: #607d8b;
  }
  
  .publication-image{
      width: 100%;
  }
  
  .publication-image .object-fit_cover {
      object-fit: cover;
  }
  
  .publication-image .object-fit_cover_edit {
      object-fit: cover;
      width: 100%;
      max-height: 630px;
      height: auto;
  }
  
  .publication-image .object-fit_cover_edit_happy_hour {
      object-fit: cover;
      width: 100%;
      max-height: 400px;
      height: auto;
  }
  
  .publication-image .object-fit_cover_edit_auto {
      object-fit: cover;
      width: 100%;
      height: auto;
  }
  
  .communicated-image{
      width: 100%;
  }
  
  .communicated-image a img{
      width: 100px;
      max-height: 60px;
  }
  
  .communicated-image .object-fit_cover {
      object-fit: cover;
  }
  
  .collaborator-image{
      width: 100%;
  }
  
  .collaborator-image a img{
      width: 100px;
      max-height: 60px;
  }
  
  .collaborator-image .object-fit_cover {
      object-fit: cover;
  }
  
  .collaborator-btn-info{
      margin-top:-30px;
      position: relative;
  }
  
  .publication-edit{
      padding:10px;
      color:#FFF;
      background-color:#009688;
      position:absolute;
      float:right;
      right: 0px;
      margin-right: 22px;
  }
  
  .text-default-base {
      color: #009688;
  }
  
  .text-default-base-blue {
      color: #069aff;
  }
  
  .label-default-base {
      background-color: #e5eaee;
      color: #909fa8;
  }
  
  .label-default-base a, .label-default-base a:hover  {
      text-decoration: none;
      background-color: #e5eaee;
      color: #909fa8;
  }
  
  .label-default-base-blue {
      background-color: #069aff;
      color: #ffffff;
  }
  
  .service-item {
      margin-bottom: 30px;
  }
  
  .happy-hour-publications table.tc-icon-bold tbody td{
      padding-top: 3px;
      padding-bottom: 3px;
      text-transform: none;
  }
  
  .happy-hour-publications table.tc-icon-bold tbody td a.active{
      color: #009688;
  }
  
  .happy-hour-publication-image{
      margin-bottom: 20px;
  }
  
  .happy-hour-content{
      color: #5b6870;
  }
  
  .happy-hour-content .field{
      font-weight: 400 !important;
  }
  
  .happy-hour-publications .table > thead > tr > th,
  .happy-hour-publications .table > tbody > tr > th,
  .happy-hour-publications .table > tfoot > tr > th,
  .happy-hour-publications .table > thead > tr > td,
  .happy-hour-publications .table > tbody > tr > td,
  .happy-hour-publications .table > tfoot > tr > td{
      border-top: none;
  }
  
  .happy-hour-list-title{
      font-size: 18px;
      color: #263238;
      display: block;
      margin-bottom: 0px;
  }
  .happy-hour-list-subtitle{
      font-size: 13px;
      font-weight: 400;
      display: inline;
      color: #9B9EAD;
  }
  
  
  .panel-front { /* Only for this preview */
      margin-bottom:30px;
      padding: 0px !important;
  }
  
  .panel-front .panel-heading .panel-title img {
      border-radius:3px 3px 0px 0px;
      width:100%;
  }
  
  .panel-front .panel-heading {
      padding: 0px;
  }
  
  .panel-front .panel-heading h4 {
      line-height: 0;
  }
  
  .panel-front .panel-body h4 {
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 15px;
  }
  
  .panel-default {
      margin-bottom: 30px;
  }
  
  .old-news-panel {
      padding-left: 20px !important;
      padding-right: 17px !important;
  }
  
  .online-panel {
  padding:15px 20px !important;
  }
  
  .avatar-online {
      padding-left: 12px !important;
      padding-right:12px !important;
  }
  
  .avatar-title-online {
      padding-left: 5px !important;
      padding-right: 5px !important;
  }
  
  .no-padding{
      padding: 0px !important;
  }
  
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xl-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xl-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xl-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xl-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xl-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xl-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xl-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
      position: relative;
      min-height: 1px;
      padding-left: 16px /*/ 2*/;
      padding-right: 16px /*/ 2*/;
  }
  
  a.no-decoration:hover{ text-decoration: none !important; }
  
  .min-h20{ min-height:20px !important; }
  .min-h30{ min-height:30px !important; }
  .min-h50{ min-height:50px !important; }
  .min-h60{ min-height:60px !important; }
  .min-h70{ min-height:70px !important; }
  .min-h80{ min-height:80px !important; }
  
  .fc button{ padding: 5px 10px !important; }
  .list-group-participants{ list-style: none !important; }
  .list-group-item-participants{ list-style: none !important; }
  .label-primary-participant{ background-color: #009688 !important; }
  
  .edit-meeting {
      cursor: pointer;
      position: absolute;
      margin-top: -10px;
      background-color: transparent;
      color: #000;
      border-radius: 10px;
      padding: 2px;
      font-weight: bold;
      right: 0;
      width: 20px;
      text-align: center;
  }
  
  .delete-meeting {
      cursor: pointer;
      position: absolute;
      margin-top: 10px;
      background-color: transparent;
      color: black;
      border-radius: 15px;
      padding: 2px;
      font-weight: bold;
      right: 0;
      width: 20px;
      text-align: center;
      z-index: 1;
  }
  
  .day-with-meeting > a {
      background-color: #FF4C4C !important;
      background-image: none !important;
      color: #fff !important;
      font-weight: 400 !important;
  }
  
  .day-with-meeting-zimbra > a {
      background-color: #FF4C4C !important;
      background-image: none !important;
      color: #fff !important;
      font-weight: 400 !important
  }
  
  .ui-datepicker .ui-state-active {
      font-size: 15px !important;
      font-weight: 700 !important;
      color: #000;
      background: #fff !important;
    }
  
  .no-sort::after { display: none!important; }
  
  .no-sort { pointer-events: none!important; cursor: default!important; }
  
  .bg-box-dashboard-meeting{ background: #35bc92 !important; }
  
  .text-uppercase{ text-transform: uppercase !important; }
  
  .box-collaborator{text-align:center;color:#fff;position:relative}
  .box-collaborator .box-content,.box-collaborator:after{width:100%;position:absolute;left:0}
  .box-collaborator:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
  .box-collaborator .post,.box-collaborator .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
  .box-collaborator:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
  .box-collaborator img{width:100%;height:auto}
  .box-collaborator .box-content{padding:0px;margin-bottom:20px;top:0;z-index:1}
  .box-collaborator .title{font-size:22px;font-weight:700;text-transform:uppercase;margin:0 0 10px}
  .box-collaborator .post{display:block;padding:8px 0;font-size:15px}
  .box-collaborator .social li a{border-radius:50%;font-size:20px;color:#fff}
  .box-collaborator:hover .post,.box-collaborator:hover .title{transform:translateY(0)}
  .box-collaborator .social{list-style:none;padding:0 0 5px;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
  .box-collaborator:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
  .box-collaborator .social:before{content:"";width:50px;height:2px;background:none;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
  .box-collaborator .social li{display:inline-block}
  .box-collaborator .social li a{display:block;width:40px;height:40px;line-height:40px;background:#6d3795;margin-right:10px;transition:all .3s ease 0s}
  .box-collaborator .social li a:hover{background:#bea041}
  .box-collaborator .social li:last-child a{margin-right:0}
  @media only screen and (max-width:990px){.box-collaborator{margin-bottom:30px}
  
  .wrapper {
      display: flex;
      align-items: stretch;
  }
  
  #sidebar {
      min-width: 250px;
      max-width: 250px;
  }
  #sidebar {
      min-width: 250px;
      max-width: 250px;
      min-height: 100vh;
  }
  }