header a.logo img {
    width: auto;
    height: 80px;
    max-height: 80px;
}

header nav.navbar-default, nav.navbar.bootsnav {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

header nav.navbar-default-admin, nav.navbar.bootsnav-admin{
    background: #fff;
}

header.header-appear nav.header-light {
    background: rgb(66,70,204);
    background: -moz-linear-gradient(63deg, rgba(26,170,212,1) 0%, rgba(28,121,193,1) 10%, rgba(66,70,204,1) 90%, rgba(134,0,233,1) 100%);
background: -webkit-linear-gradient(63deg, rgba(26,170,212,1) 0%, rgba(28,121,193,1) 10%, rgba(66,70,204,1) 90%, rgba(134,0,233,1) 100%);
background: linear-gradient(63deg, rgba(26,170,212,1) 0%, rgba(28,121,193,1) 10%, rgba(66,70,204,1) 90%, rgba(134,0,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1aaad4",endColorstr="#8600e9",GradientType=1);
}

.footer-logo {
    width: 100%;
    height: auto;
    max-height: 400px;
}

li .nav .navbar {
    list-style: none;
}